#mainContainer {
  width: 100%;
  min-height: 100vh;
  position: relative;
  margin-top: 85px;
  /* margin-bottom: 60px; */
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 40px 20px;
}

#paymentForm {
  width: 80%;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
  align-self: start;
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: #2666b1;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: #2666b1;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
