* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  /* background-image: url("../imgs/bg1.jpg"); */
}
html {
  scroll-behavior: smooth;
}
/* header */

.mainHeader {
  overflow: hidden;
  background-color: #192534;
  position: fixed;
  top: 0;
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  z-index: 99999999;
}

.logoDiv {
  width: 10%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoImg {
  width: 70px;
  height: auto;
  cursor: pointer;
  transition: all 0.5s ease-in-out 0s;
}

.logoImg:hover {
  width: 80px;
  transition: all 0.5s ease-in-out 0s;
}

.headerNav {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: end;
  /* display: none; */
  margin-right: 120px;
}

#searchInput {
  background-color: #7070703d;
  background-image: url("../imgs/searchicon.png");
  background-position: 10px 5px;
  background-repeat: no-repeat;
  width: 13.5rem;
  height: 35px;
  font-size: 15px;
  padding: 12px 20px 12px 40px;
  /* border: 0.1px solid #ddd; */
  border-radius: 5px;
  margin: 10px 0px 0px 20px;
  color: lightgray;
  border: 0.1px groove #9494948f;
}
#searchInput:focus {
  border: 0.5px groove #9494948f;
}

.navMenu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.navMenu a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.navMenu a span {
  position: relative;
}
.navMenu a span:hover {
  color: #34d1c3;
}

.navMenu a span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: -5px;
  left: 0;
  color: #34d1c3;
  background-color: #2ebeb1;
  transform-origin: bottom center;
  transition: all 0.3s ease-in-out 0s;
}
.navMenu a span::after {
  transform: scaleX(0);
}

.navMenu a span:hover::after {
  transform: scaleX(1);
}

.navMenu a span:hover::after {
  transform-origin: bottom center;
}

.cartDiv {
  width: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* display: none; */
}
.cartDiv span {
  width: 17px;
  height: 17px;
  text-align: center;
  font-size: 13px;
  margin-left: 40px;
  position: relative;
  background: linear-gradient(45deg, #6c2e4e, #235574);
  border-radius: 50%;
  margin-bottom: -10px;
  color: #fdeeff;
}

.cartImg {
  width: 40px;
  height: auto;
  margin-top: -5px;
  transition: all 0.5s ease-in-out 0s;
  cursor: pointer;
}

.cartImg:hover {
  width: 45px;
  transition: all 0.5s ease-in-out 0s;
}

.toggle-btn {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.dropdown_menu {
  width: 100%;
  position: fixed;
  right: 0;
  top: 85px;
  height: 0;
  width: 250px;
  background-color: #1b293a;
  list-style: none;
  /* backdrop-filter: blur(20px); */
  overflow: hidden;
  transition: height 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown_cartDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cartSpan {
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: 12px;
  margin-left: 40px;
  position: relative;
  background: linear-gradient(45deg, #6c2e4e, #235574);
  border-radius: 50%;
  margin-bottom: -10px;
  color: #fdeeff;
}

.dropdown_menu a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.dropdown_menu a span {
  position: relative;
}

.dropdown_menu li:hover {
  background-color: #23897f;
}

.dropdown_menu.open {
  height: 320px;
}

/* ******************* Footer ******************* */

#mainFooter {
  height: 60px;
  width: 100%;
  background: #192534;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

#copyRight_div {
  /* width: 30%; */
  color: #41a2a2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contactLogo {
  /* width: 60%; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
#contactLogo i {
  font-size: 30px;
  color: white;
  cursor: pointer;
  /* background: blue; */
}

#topIcondiv {
  display: none;
  justify-content: center;
  align-items: center;

  display: none;
  position: fixed;
  bottom: 35px;
  right: 30px;
  z-index: 9999;
  /* border: none; */
  /* outline: none; */
  background-color: teal;
  color: white;
  cursor: pointer;
  /* padding: 15px; */
  border-radius: 50%;
  font-size: 18px;
  width: 40px;
  height: 40px;
  opacity: 0.8;
}
#topIcondiv:hover {
  opacity: 1;
}
#topIcondiv i {
  color: white;
  font-size: 15px;
}

@media (max-width: 800px) {
  .navMenu {
    display: none;
  }
  .cartDiv {
    margin-right: 40px;
  }
  .toggle-btn,
  .dropdown_menu {
    display: block;
  }
  .dropdown_menu {
    width: 100%;
  }

  .mainHeader {
    padding: 10px 30px 10px 35px;
  }
  .dropdown_cartDiv {
    margin-top: 10px;
  }

  .cartImg:hover {
    width: 40px;
  }

  #searchInput {
    width: 40vw !important;
    margin-right: -60px;
  }
}

@media (min-width: 800px) {
  .dropdown_menu {
    display: none;
  }
}
